---
const { titles } = Astro.props;
---

<div class="relative bg-[#e5e7eb] mb-8" data-te-dropdown-ref>
  <button
    class="inline-block w-full bg-[#e5e7eb] p-8 text-large font-bold uppercase leading-normal text-black"
    type="button"
    data-te-collapse-init
    data-te-ripple-init
    data-te-ripple-color="light"
    data-te-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    On This Page
  </button>
  <div
    class="!visible hidden text-center"
    id="collapseExample"
    data-te-collapse-item
  >
    <ul class="list-none mx-auto">
      {
        titles.map((item: any) => (
          <li class="list-none w-full rounded-lg bg-white-100 p-4 text-black font-medium">
            <a class="posts" href={`#${item.url}`}>
              {item.title}
            </a>
            {item.children && (
              <ul>
                {item.children.map((child: any) => (
                  <li class="list-none ">
                    <a class="posts" href={`#${child.url}`}>
                      {child.title}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</div>
<script>
  import { Collapse, Ripple, initTE } from "tw-elements";

  initTE({ Collapse, Ripple });

  document.body.addEventListener("click", function (event) {
    const dropdown = document.getElementById("collapseExample");
    dropdown?.classList.add("hidden");
  });
</script>
