---
const { dev_section } = Astro.props!;
---

<div
  class="bg-[#273548] flex flex-col md:flex-row items-center justify-center mx-auto"
>
  {
    dev_section.map((card: any) => (
      <div class=" rounded-lg ">
        <div class="mx-auto md:mr-4 flex flex-col items-center justify-center w-[80%] text-center">
          <img class="w-[120px]" alt="icon" src={card.image.src} />
          <a href={card.url} class="hover:underline">
            <h3 class="mb-2 font-bold text-3xl  leading-tight text-blue">
              {card.title}
            </h3>
          </a>
          <p class="mb-4 text-base text-white">{card.text}</p>
        </div>
      </div>
    ))
  }
</div>
