@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #343a40 !important;
  font-family: "Lato", sans-serif;
}

@layer base {
  h1 {
    width: auto;
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    width: auto;
    margin-bottom: 1rem;
  }

  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.3xl");
    // padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  .truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .back_color {
    background-color: linear-gradient(
      to bottom,
      rgba(230, 231, 233, 0.62),
      rgb(255, 255, 255)
    );
  }
  p {
    margin-bottom: 1rem;
  }
  a {
    @apply text-linkcolor;
  }
  section {
    @apply p-4  mx-auto;
  }
}
.prose a:hover {
  @apply text-linkcolor;
  @apply no-underline;
}

@layer utilities {
  .nav-hover {
    :before {
      @apply w-0 lg:bg-linkcolor content-[""] bottom-0 h-1 block absolute left-[50%] duration-150;
    }
    :before:hover {
      @apply w-full left-0;
    }
  }
}
#footnote-label {
  display: none;
}
.sidenav-custom {
  width: 340px !important;
  @media screen and (max-width: 1300px) {
    width: 240px !important;
  }
}
.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.image-hover-effect:hover {
  transform: rotate(-15deg);
  box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.posts {
  color: black !important;
}
.posts:hover {
  color: #ffa409;
}
.whiteColor {
  color: white !important;
}

div#capinfo {
  margin: 0.5em;
}
div#capinfo svg {
  display: block;
  margin: 0px auto;
}
div#capinfo input {
  box-shadow: rgb(235, 235, 235) 0px 0px 10px 5px;
  display: block;
  margin: 1em auto;
  width: 28em;
  text-align: center;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 16px;
  border: 2px solid black;
}
div#capinfo input.error {
  background-color: #ffdabf;
  border-color: #ff6b00;
}
