---
import { getCollection } from "astro:content";
import FirstItem from "../../components/resources/FirstItem.astro";
import dayjs from "dayjs";
import ResourcesItem from "../resources/ResourcesItem.astro";

const resources = await getCollection("resources");

const resourceLists = resources
  .sort((a, b) => dayjs(b.data.date).diff(dayjs(a.data.date)))
  .slice(0, 10);
---

<div class="container max-w-7xl mx-auto">
  <ul class="">
    <div><FirstItem resource={resourceLists[0]} /></div>
    <div class="grid grid-cols-1 mb-4 md:grid-cols-2 lg:grid-cols-3 gap-y-12">
      {
        resourceLists
          .slice(1)
          .map((resource, ...otherProps) => (
            <ResourcesItem resource={resource} {...otherProps} />
          ))
      }
    </div>
  </ul>
</div>
