---
import marked from 'marked';

const api = 'https://git.morello-project.org/morello/android/vendor/arm/morello-examples/-/raw/491db32a6a29fdc33144a2baeb82850094ee9866/cheriseed/001-blogpost/string/string.c';

async function fetchData() {
  const response = await fetch(api);
  const content = await response.text(); // Use response.text() to get plain text content
  const renderedContent = marked(content); // Render the plain text content as markdown
  return renderedContent;
}

export default fetchData;


---

<div>hiiiiiiiiiiiiiiiiiiiii</div>

