---
import { Image } from "astro:assets";
import LinaroLogo from "../../assets/images/linaro-logo-white.svg";
import Icon from "astro-icon";
---

<div class=`flex flex-col text-white bg-[#575757] mt-auto`>
  <div class="flex flex-wrap flex-row items-center justify-center mt-4 gap-4">
    <a href="https://github.com/devicetree-org/devicetree-website">
      <Icon
        name="mdi:github"
        class="w-6 text-white mb-[1rem] hover:text-linkcolor"
      />
    </a>

    <a
      href=" https://github.com/MorelloProject/website"
      class="flex item-center mb-[1rem] no-underline text-white font-medium p-2 cursor-pointer hover:text-linkcolor hover:underline hover:transition-all rounded-md"
    >
      View on Github
    </a>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-center gap-3">
    <p class="h-full pt-4">Copyright @ 2023 Linaro Limited</p>
    <a
      href="/legal"
      class="cursor-pointer no-underline text-white hover:text-linkcolor hover:underline"
      >Legal</a
    >
    <a
      href="/cookies"
      class="cursor-pointer no-underline text-white hover:text-linkcolor hover:underline"
      >Cookies</a
    >
    <a
      href="/contact"
      class="cursor-pointer no-underline text-white hover:text-linkcolor hover:underline"
      >Contact</a
    >
    <div class="flex flex-row h-full gap-5">
      <a href="https://github.com/MorelloProject">
        <Icon name="mdi:github" class="w-6 text-white hover:text-linkcolor" />
      </a>
    </div>
  </div>
  <div class="flex flex-row justify-center my-4">
    <a href="/">
      <Image class="w-[80px]" src={LinaroLogo} alt="logo" />
    </a>
  </div>
</div>
